@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --pink: #f8019a;
  --blue: #3622ad;
  --white: #fdfffc;
  --gray: #e9edea;
  --black: #0d1321;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--gray);
  padding: 50px;
  font-family: "Lato", sans-serif;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
  color: var(--black);
}

.card {
  margin: 0 auto;
  padding: 30px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, 0.52);
  -moz-box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, 0.52);
  box-shadow: 0px 2px 20px -8px rgba(0, 0, 0, 0.52);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.element-box {
  width: 250px;
  height: 250px;
  margin: 0 auto 30px;
  border: 2px solid var(--gray);
}

.element {
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--blue) 0%, var(--pink) 100%);
}

#radius {
  width: 550px;
  margin-bottom: 25px;
  font-size: 20px;
  padding: 8px 10px;
  text-align: center;
  color: var(--black);
  border-radius: 4px;
  border: 2px solid var(--gray);
}

.button {
  font-size: 18px;
  color: var(--white);
  border: none;
  background-color: var(--pink);
  width: 100px;
  padding: 5px 0px 7px;
  border-radius: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #f566be;
}
